#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  position: relative;
  .op-close {
    position: absolute;
    top:1rem;
    right:1rem;
    a { 
      font-size: 1.5rem;
      display: inline-block;
      text-decoration: none; 
      transform: rotate(45deg);
    }
  }
}

.read-the-docs {
  color: #888;
}


form {
  padding:2rem;
  border:1px solid;
  border-radius:0.5rem;
  label {
    width:100%;
    text-align: left;
  }
  input, textarea {
    width:100%;
    box-sizing: border-box;
  }
  .field {
    padding-bottom: 1rem;
  }
}

