@import 'reset.css';

h1 {
  padding: 2rem;
}

.box-wrapper {
  background-color: #DDD;
  padding:2rem;
}

.box-1 {
  border: 1px solid red;
  border-radius: 99999999px;
  padding: 1rem;
  margin: 1rem;
  background-color: #FFF;
  color: #000;
}

.link {
  background-color: #FFF;
  padding:1rem;
  max-width: 100px;
  display: inline-block;
  box-sizing: border-box;
}

.box-2 {
  background-color: black;
  color: white;
  width: 50%;
  max-width: 800px;
}